* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

/* Common CSS */
/* Navbar Part Start */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white !important;
}

.orgBold a {
    color: #FF5538;
}

.nav-item {
    font-size: 18px;
    font-weight: 900;
    font-family: "Nunito", serif;
    padding: 0 20px;
}

.btn {
    padding: 10px 20px;
    background: #FF5538;
    color: white;
    border-radius: 5px;
}

.iconMove {
    margin-top: 10px;
}

/* Navbar Part End */
/* Banner Part Start */
.overlay1{
    padding: 200px 0;
}
.bannerPart{
    /* position: relative; */
    padding: 120px 0;
}
.realState {
    position: absolute;
    top: 73px;
    left: -18px;
}
.BGBanner{
    background: url(../images/slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banP1{
    font-family: "Nunito", serif;
    font-size: 16px;
    font-weight: 700;
}
.banH1{
    font-family: "Poppins", serif;
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 37px;
}
.forORG{
    color: #FF5538;
}
.banP2{
    font-family: "Nunito", serif;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
}
.btnText{
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
}
/* Banner Part End */
/* Feature start */
.featurePart{
    padding: 120px 0;
}
.forPOSS{
    position: relative;
}
.back1{
    position: absolute;
    top: 0;
    left: 0;
}
.up1 {
    position: absolute;
    top: -88px;
    left: 56px;
}
/* Feature End */